{% extends "base.html" %}
{% load static %}

{% block extra_title %}Your Bag{% endblock %}

{% block content %}
    <div id="products-main"></div>
    <div class="container-fluid" id="products-main-container">
        <div class="container">
            <div class="row mb-3">
                <!--Breadcrumbs-->
                <div class="col-sm-6 col-12">
                    <div class="breadcrumb" style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                        <a href="{% url 'home' %}"
                            class="breadcrumb-item text-dark text-uppercase text-decoration-none">Home</a>
                        <a href="{% url 'products' %}"
                            class="breadcrumb-item text-dark text-uppercase text-decoration-none">Shop</a>
                        <a href="#"
                            class="breadcrumb-item active text-dark fw-bold text-uppercase text-decoration-none">Your
                            bag</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h4 class="text-uppercase">Your bag</h4>
            <div class="row">
                <div class="col-lg-6 col-12">
                    {% if free_delivery_delta > 0 %}
                    <p class="my-3">
                        Spend an extra <strong>${{ free_delivery_delta }}</strong> and get free delivery!
                    </p>
                    {% endif %}
                    <hr>
                </div>
            </div>
            {% if bag_items %}
                {% for item in bag_items %}
                    <div class="row my-3">
                        <div class="col-lg-4 col-12 mb-3">
                            <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                        </div>
                        <div class="col-lg-4 col-12 mb-3">
                            <p class="fs-6 card-text text-uppercase fw-bold">{{ item.product.name }}<span
                                    class="px-3">${{ item.product.price }}</span></p>
                            <p class="text-uppercase">Qty: {{ item.quantity }}</p>
                            <form action="#" class="form my-3 update-form" method="POST">
                                {% csrf_token %}
                                <div class="quantity-container my-3">
                                    <div class="input-group">
                                        <div>
                                            <button class="decr-btn btn border-none" data-item_id="{{ item.item_id }}" id="decr-btn_{{ item.item_id }}">
                                                <span><i class="las la-minus"></i></span>
                                            </button>
                                        </div>
                                        <input type="number" class="qty_input mx-3 px-3" name="quantity" value="1"
                                                        min="1" max="10" data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                        <div>
                                            <button class="incr-btn btn border-none" data-item_id="{{ item.item_id }}" id="incr-btn_{{ item.item_id }}">
                                                <span><i class="las la-plus"></i></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="text-uppercase text-decoration-none remove-link" id="remove_{{ item.item_id }}"><i class="text-danger las la-2x la-trash-alt"></i></a>
                            <a class="update-link text-uppercase text-decoration-none text-dark"><i class="mx-3 text-dark las la-2x la-sync-alt"></i></a>
                        </div>
                        <div class="col-lg-4 col-12 mb-3">
                            <p class="text-uppercase">Subtotal: $</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="row py-3">
                    <p class="text-uppercase fw-bold fs-5 my-0">Total: ${{ grand_total|floatformat:2 }}</p>
                    <p class="text-uppercase text-muted">Delivery: ${{ delivery|floatformat:2 }} </p>
                </div>
            {% else %}
                <p>You haven't added any products yet!</p>
            {% endif %}
            <div class="my-2"><a href="#" class="btn btn-lg btn-outline-dark text-decoration-none text-uppercase">Pay
                    Now</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-link').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}