{% extends "base.html" %}
{% load static %}

{% block extra_title %}About{% endblock %}

{% block content %}

    <div class="container" id="about-container"></div>
    <div class="container">
        <h4 class="text-uppercase fw-bold mt-5 mb-4">About</h4>
        <p>Bojeaux is a mature skin and hair care brand that entered the market back in 2019. Reinventing the world of
            luxury through a new approach where design meets high quality, our products line started in the Amsterdam,
            Netherlands. Born in such a vibrant and international city, Bojeaux delivers with elegance and
            sophistication by enhancing your natural beauty and taking care of you.</p>
    </div>
    <div class="container">
        <h4 class="text-uppercase fw-bold mt-5 mb-4">Our founders</h4>
        <div class="row my-2">
            <div class="col-lg-4 col-12 my-3">
                <img src="{{ MEDIA_URL }}founder_one.jpg" alt="Two women in a meeting" class="img-fluid">
            </div>
            <div class="col-lg-8 col-12 my-3">
                <h1 class="fs-6">Berhane Oghenekevwe</h1>
                <p>
                    Born in Kampala (Uganda), Berhane moved to the Netherlands with her parents when she was six years
                    old. Growing up she has always shown interest in pharmaceuticals and cosmetics, so she decided to
                    pursue a career as a cosmetic scientist. This passion eventually led to Berhane starting her first
                    line of skin care products, with a focus on high quality ingredients that would make an impact in
                    the industry.
                </p>
            </div>
        </div>
        <div class="row mt-2 mb-5">
            <div class="col-lg-8 col-12 my-3">
                <h1 class="fs-6">Phương Lan and Thea Jasmin</h1>
                <p>
                    Phương and Thea, both born and raised in Berlin (Germany), moved to the Netherlands back in 2018,
                    right after finishing college. Business graduates with a great interest in starting a company
                    focused on hair care products within the high-end market, they met Berhane at a marketing event and
                    everything started to take shape. Shortly thereafter, the first line of skin care products was
                    launched successfully and has grown ever since, incorporating more and more products.
                </p>
            </div>
            <div class="col-lg-4 col-12 my-3">
                <img src="{{ MEDIA_URL }}founder_two.jpg" alt="Two women in a meeting" class="img-fluid">
            </div>
        </div>
    </div>
    
{% endblock %}