{% extends "base.html" %}
{% load static %}

{% block title %}High quality hair and skincare{% endblock %}

{% block content %}
    
    <div id="home-hero">
        <div class="container p-5 ">
            <h1 class="text-uppercase fs-3 fw-bolder">Summer essentials</h1>
            <div class="py-4"><a href="{% url 'products' %}" class="btn btn-lg btn-dark text-uppercase hvr-skew-forward">Shop Now <i
                    class="las la-angle-right"></i></a>
            </div>
        </div>
    </div>
    <div id="countdown-timer" class="bg-dark text-light fw-bold text-center border border-light"></div>
    <!--Bestsellers section-->
    <div class="container-fluid">
        <div class="row bg-grey p-5">
            <h3 class="text-uppercase pb-5 pt-2 text-center">Our bestsellers</h3>
            <div class="col-md-4 col-12 mb-5">
                <a href="{% url 'product_detail' 22 %}" class="text-decoration-none text-dark">
                    <div>
                        <img src="{{ MEDIA_URL }}face_serum_elixir.jpg" alt="Face serum elixir" class="img-thumbnail" height="300px" width="auto">
                    </div>
                    <h6 class="text-uppercase py-3 text-center">Face Serum Elixir</h6>
                </a>
            </div>
            <div class="col-md-4 col-12 mb-5">
                <a href="{% url 'product_detail' 28 %}" class="text-decoration-none text-dark">
                    <div>
                        <img src="{{ MEDIA_URL }}bundle_bath_salts.jpg" alt="Bundle bath salts" class="img-thumbnail" height="300px" width="auto">
                    </div>
                    <h6 class="text-uppercase py-3 text-center">Bundle Bath Salts</h6>
                </a>
            </div>
            <div class="col-md-4 col-12 mb-5">
                <a href="{% url 'product_detail' 14 %}" class="text-decoration-none text-dark">
                    <div>
                        <img src="{{ MEDIA_URL }}hair_solid_conditioner.jpg" alt="Hair solid conditioner" class="img-thumbnail" height="300px" width="auto">
                    </div>
                    <h6 class="text-uppercase py-3 text-center">Hair Solid Conditioner</h6>
                </a>
            </div>
        </div>
    </div>
    <!--Blog sneak peak-->
    <div class="container-fluid">
        <div class="row p-5 d-flex justify-content-center">
            <div class="col-lg-6 col-12">
                <div class="card-body ps-0">
                    <h5 class="card-title">Did you know we have a blog?</h5>
                    <p class="card-text">Want to know more about how to take care of your hair or what are some common myths around skincare? 
                        Find out about the next big thing in wellness and much more in our weekly curated blog posts!
                    </p>
                    <a href="{% url 'blog' %}" class="btn btn-outline-dark my-2">Read More</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!--Code inspiration from https://www.w3schools.com/howto/howto_js_countdown.asp-->
    <script type="text/javascript">
        var blackFridayDate = new Date("Nov 26, 2021 00:00:00").getTime();
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = blackFridayDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="countdown-timer"
            document.getElementById("countdown-timer").innerHTML ="Black Friday Sales in " + days + "D " + hours + "H "
            + minutes + "M " + seconds + "S ";

            // If the count down is finished, write some text
            if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
{% endblock %}