{% extends "base.html" %}
{% load static %}

{% block title %}High quality hair and skincare{% endblock %}

{% block content %}
    <div id="home-hero">
        <div class="container p-5">
            <h1 class="text-uppercase fs-3 fw-bolder">Summer essentials</h1>
            <div class="py-4"><a href="" class="btn btn-lg btn-dark text-uppercase hvr-skew-forward">Shop Now <i
                    class="las la-angle-right"></i></a>
            </div>
        </div>
    </div>
    {% include 'home/includes/bestsellers_section.html' %}
{% endblock %}