{% extends "base.html" %}
{% load static %}

{% block extra_title %}Terms of Use{% endblock %}

{% block content %}

    <div class="container px-3" id="tou-container">
        <h4 class="text-uppercase fw-bold mt-5 mb-4">Terms of Use</h4>
         <!-- Content retrieved and adapted from the Termly website: https://termly.io/resources/templates/terms-and-conditions-template/ -->
        <div class="row">
            <h6 class="text-uppercase">Agreement to Terms</h6>
            <p>These Terms and Conditions constitute a legally binding agreement made between you, whether
                personally or on behalf of an entity (“you”) and Bojeaux (“we,” “us” or “our”),
                concerning your access to and use of the Bojeaux website as well as any other media form,
                media channel, mobile website or mobile application related, linked, or otherwise connected thereto
                (collectively, the “Site”).
            </p><br>
            <p>You agree that by accessing the Site, you have read, understood, and agree to be bound by all of
                these Terms and Conditions. If you do not agree with all of these Terms and Conditions, then you are
                expressly prohibited from using the Site and you must discontinue use immediately.
            </p><br>
            <p>Supplemental terms and conditions or documents that may be posted on the Site from time to time are
                hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to
                make changes or modifications to these Terms and Conditions at any time and for any reason.
            </p><br>
            <p>We will alert you about any changes by updating the “Last updated” date of these Terms and
                Conditions, and you waive any right to receive specific notice of each such change.
                It is your responsibility to periodically review these Terms and Conditions to stay informed of
                updates. You will be subject to, and will be deemed to have been made aware of and to have accepted,
                the changes in any revised Terms and Conditions by your continued use of the Site after the date
                such revised Terms and Conditions are posted.
            </p><br>
            <p>
                The information provided on the Site is not intended for distribution to or use by any person or
                entity in any jurisdiction or country where such distribution or use would be contrary to law or
                regulation or which would subject us to any registration requirement within such jurisdiction or
                country.
            </p><br>
            <p>Accordingly, those persons who choose to access the Site from other locations do so on their own
                initiative and are solely responsible for compliance with local laws, if and to the extent local
                laws are applicable.
            </p><br>
            <p>These <a href="https://termly.io/resources/templates/terms-and-conditions-template/">terms and
                    conditions</a> were created using Termly.</p><br>
            <p>The Site is intended for users who are at least 13 years of age. All users who are minors
                in the jurisdiction in which they reside (generally under the age of 18) must have the permission
                of, and be directly supervised by, their parent or guardian to use the Site. If you are a minor, you
                must have your parent or guardian read and agree to these Terms and Conditions prior to you using
                the Site.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">Intellectual Property Rights</h6>
            <p>Unless otherwise indicated, the Site is our proprietary property and all source code, databases,
                functionality, software, website designs, audio, video, text, photographs, and graphics on the Site
                (collectively, the “Content”) and the trademarks, service marks, and logos contained therein (the
                “Marks”) are owned or controlled by us or licensed to us, and are protected by copyright and
                trademark laws and various other intellectual property rights and unfair competition laws of the
                United States, foreign jurisdictions, and international conventions.
            </p><br>
            <p>Unless otherwise indicated, the Site is our proprietary property and all source code, databases,
                functionality, software, website designs, audio, video, text, photographs, and graphics on the Site
                (collectively, the “Content”) and the trademarks, service marks, and logos contained therein (the
                “Marks”) are owned or controlled by us or licensed to us, and are protected by copyright and
                trademark laws and various other intellectual property rights and unfair competition laws of the
                United States, foreign jurisdictions, and international conventions.</p><br>
            <p>The Content and the Marks are provided on the Site “AS IS” for your information and personal use
                only. Except as expressly provided in these Terms and Conditions, no part of the Site and no Content
                or Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed,
                encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any
                commercial purpose whatsoever, without our express prior written permission.
            </p><br>
            <p>Provided that you are eligible to use the Site, you are granted a limited license to access and use
                the Site and to download or print a copy of any portion of the Content to which you have properly
                gained access solely for your personal, non-commercial use. We reserve all rights not expressly
                granted to you in and to the Site, the Content and the Marks.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">User Representations</h6>
            <p>By using the Site, you represent and warrant that:
                (1) all registration information you submit will be true, accurate, current, and complete; (2) you
                will maintain the accuracy of such information and promptly update such registration information as
                necessary;
                (3) you have the legal capacity and you agree to comply with these Terms and Conditions;
                (4) you are not under the age of 13;
                (5) not a minor in the jurisdiction in which you reside, or if a minor, you have received parental
                permission to use the Site;
                (6) you will not access the Site through automated or non-human means, whether through a bot,
                script, or otherwise;
                (7) you will not use the Site for any illegal or unauthorized purpose;
                (8) your use of the Site will not violate any applicable law or regulation.
                If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the
                right to suspend or terminate your account and refuse any and all current or future use of the Site
                (or any portion thereof).
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">User Registration</h6>
            <p>You may be required to register with the Site. You agree to keep your password confidential and will
                be responsible for all use of your account and password. We reserve the right to remove, reclaim, or
                change a username you select if we determine, in our sole discretion, that such username is
                inappropriate, obscene, or otherwise objectionable.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">User Generated Contributions</h6>
            <p>
                The Site may invite you to chat, contribute to, or participate in blogs, message boards, online
                forums, and other functionality, and may provide you with the opportunity to create, submit, post,
                display, transmit, perform, publish, distribute, or broadcast content and materials to us or on the
                Site, including but not limited to text, writings, video, audio, photographs, graphics, comments,
                suggestions, or personal information or other material (collectively, "Contributions").
                When you create or make available any Contributions, you thereby represent and warrant that:<br>
            </p><br>
            <p>
                1. the creation, distribution, transmission, public display, or performance, and the accessing,
                downloading, or copying of your Contributions do not and will not infringe the proprietary rights,
                including but not limited to the copyright, patent, trademark, trade secret, or moral rights of any
                third party.
                2. you are the creator and owner of or have the necessary licenses, rights, consents, releases, and
                permissions to use and to authorize us, the Site, and other users of the Site to use your
                Contributions in any manner contemplated by the Site and these Terms and Conditions.
                3. you have the written consent, release, and/or permission of each and every identifiable
                individual person in your Contributions to use the name or likeness of each and every such
                identifiable individual person to enable inclusion and use of your Contributions in any manner
                contemplated by the Site and these Terms and Conditions.
                4. your Contributions are not false, inaccurate, or misleading.
                5. your Contributions are not unsolicited or unauthorized advertising, promotional materials,
                pyramid schemes, chain letters, spam, mass mailings, or other forms of solicitation.
                6. your Contributions are not obscene, lewd, lascivious, filthy, violent, harassing, libelous,
                slanderous, or otherwise objectionable (as determined by us).
                7. your Contributions do not ridicule, mock, disparage, intimidate, or abuse anyone.
                8. your Contributions do not advocate the violent overthrow of any government or incite, encourage,
                or threaten physical harm against another.
                9. your Contributions do not violate any applicable law, regulation, or rule.
                10. your Contributions do not violate the privacy or publicity rights of any third party.
                11. your Contributions do not contain any material that solicits personal information from anyone
                under the age of 18 or exploits people under the age of 18 in a sexual or violent manner.
                12. your Contributions do not violate any federal or state law concerning child pornography, or
                otherwise intended to protect the health or well-being of minors;
                13. your Contributions do not include any offensive comments that are connected to race, national
                origin, gender, sexual preference, or physical handicap.
                14. your Contributions do not otherwise violate, or link to material that violates, any provision of
                these Terms and Conditions, or any applicable law or regulation.
            </p><br>
            <p>
                Any use of the Site in violation of the foregoing violates these Terms and Conditions and may result
                in, among other things, termination or suspension of your rights to use the Site.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">Third Party Websites and Content</h6>
            <p>The Site may contain (or you may be sent via the Site) links to other websites ("Third-Party
                Websites") as well as articles, photographs, text, graphics, pictures, designs, music, sound, video,
                information, applications, software, and other content or items belonging to or originating from
                third parties ("Third-Party Content").
            </p><br>
            <p>Such Third-Party Websites and Third-Party Content are not investigated, monitored, or checked for
                accuracy, appropriateness, or completeness by us, and we are not responsible for any Third-Party
                Websites accessed through the Site or any Third-Party Content posted on, available through, or
                installed from the Site, including the content, accuracy, offensiveness, opinions, reliability,
                privacy practices, or other policies of or contained in the Third-Party Websites or the Third-Party
                Content.
            </p><br>
            <p>Inclusion of, linking to, or permitting the use or installation of any Third-Party Websites or any
                Third-Party Content does not imply approval or endorsement thereof by us. If you decide to leave the
                Site and access the Third-Party Websites or to use or install any Third-Party Content, you do so at
                your own risk, and you should be aware these Terms and Conditions no longer govern.
            </p><br>
            <p>You should review the applicable terms and policies, including privacy and data gathering practices,
                of any website to which you navigate from the Site or relating to any applications you use or
                install from the Site. Any purchases you make through Third-Party Websites will be through other
                websites and from other companies, and we take no responsibility whatsoever in relation to such
                purchases which are exclusively between you and the applicable third party.
            </p><br>
            <p>You agree and acknowledge that we do not endorse the products or services offered on Third-Party
                Websites and you shall hold us harmless from any harm caused by your purchase of such products or
                services. Additionally, you shall hold us harmless from any losses sustained by you or harm caused
                to you relating to or resulting in any way from any Third-Party Content or any contact with
                Third-Party Websites.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">Site Management</h6>
            <p>We reserve the right, but not the obligation, to:
                (1) monitor the Site for violations of these Terms and Conditions;
                (2) take appropriate legal action against anyone who, in our sole discretion, violates the law or
                these Terms and Conditions, including without limitation, reporting such user to law enforcement
                authorities;
                (3) in our sole discretion and without limitation, refuse, restrict access to, limit the
                availability of, or disable (to the extent technologically feasible) any of your Contributions or
                any portion thereof;
                (4) in our sole discretion and without limitation, notice, or liability, to remove from the Site or
                otherwise disable all files and content that are excessive in size or are in any way burdensome to
                our systems;
                (5) otherwise manage the Site in a manner designed to protect our rights and property and to
                facilitate the proper functioning of the Site.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">Privacy Policy</h6>
            <p>We care about data privacy and security. Please review our <a
                    href="#">Privacy Policy</a>. By using
                the Site, you agree to be bound by our Privacy Policy, which is incorporated into
                these Terms and Conditions. Please be advised the Site is hosted in the Netherlands.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">Copyright Infringements</h6>
            <p>We respect the intellectual property rights of others. If you believe that any material available on
                or through the Site infringes upon any copyright you own or control, please immediately notify us
                using the contact information provided below (a “Notification”). A copy of your Notification will be
                sent to the person who posted or stored the material addressed in the Notification.</p><br>
            <p>Please be advised that pursuant to federal law you may be held liable for damages if you make
                material misrepresentations in a Notification. Thus, if you are not sure that material located on or
                linked to by the Site infringes your copyright, you should consider first contacting an attorney.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">Term and Termination</h6>
            <p>These Terms and Conditions shall remain in full force and effect while you use the Site. WITHOUT
                LIMITING ANY OTHER PROVISION OF THESE TERMS AND CONDITIONS, WE RESERVE THE RIGHT TO, IN OUR SOLE
                DISCRETION AND WITHOUT NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE SITE (INCLUDING BLOCKING
                CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION
                FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS AND CONDITIONS OR
                OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE SITE OR
                DELETE [YOUR ACCOUNT AND] ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT WARNING,
                IN OUR SOLE DISCRETION.
            </p><br>
            <p>If we terminate or suspend your account for any reason, you are prohibited from registering and
                creating a new account under your name, a fake or borrowed name, or the name of any third party,
                even if you may be acting on behalf of the third party.
            </p><br>
            <p>In addition to terminating or suspending your account, we reserve the right to take appropriate legal
                action, including without limitation pursuing civil, criminal, and injunctive redress.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">User Data</h6>
            <p>We will maintain certain data that you transmit to the Site for the purpose of managing the Site, as
                well as data relating to your use of the Site. Although we perform regular routine backups of data,
                you are solely responsible for all data that you transmit or that relates to any activity you have
                undertaken using the Site.</p><br>
            <p>You agree that we shall have no liability to you for any loss or corruption of any such data, and you
                hereby waive any right of action against us arising from any such loss or corruption of such data.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">Electronic Communications, Transactions and Signatures</h6>
            <p>Visiting the Site, sending us emails, and completing online forms constitute electronic
                communications. You consent to receive electronic communications, and you agree that all agreements,
                notices, disclosures, and other communications we provide to you electronically, via email and on
                the Site, satisfy any legal requirement that such communication be in writing. </p><br>
            <p>YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER RECORDS, AND TO
                ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED BY US
                OR VIA THE SITE.
            </p><br>
            <p>You hereby waive any rights or requirements under any statutes, regulations, rules, ordinances, or
                other laws in any jurisdiction which require an original signature or delivery or retention of
                non-electronic records, or to payments or the granting of credits by any means other than electronic
                means.
            </p>
        </div>
        <div class="row">
            <h6 class="text-uppercase">Contact Us</h6>
            <p>In order to resolve a complaint regarding the Site or to receive further information regarding use of
                the Site, please contact us at: <a href="mailto:info@bojeaux.com">info@bojeaux.com</a>.</p>
        </div>
    </div>

{% endblock %}