{% extends "base.html" %}
{% load static %}


{% block extra_title %}My Account{% endblock %}

{% block content %}
    <div id="products-main"></div>
    <div class="container-fluid" id="products-main-container">
        <div class="container">
            <div class="row mb-3">
                <!--Breadcrumbs-->
                <div class="col-sm-6 col-12">
                    <div class="breadcrumb" style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                        <a href="{% url 'home' %}"
                            class="breadcrumb-item text-dark text-uppercase text-decoration-none">Home</a>
                        <a href="{% url 'products' %}"
                            class="breadcrumb-item text-dark text-uppercase text-decoration-none">Shop</a>
                        <a href="#"
                            class="breadcrumb-item active text-dark fw-bold text-uppercase text-decoration-none">My Account</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="text-uppercase my-3">Contact Information</p>
                    <form class="my-4" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-outline-dark text-uppercase my-3">Update Information</button>
                    </form>
                </div>
                <div class="col-12 col-lg-6 order-history">
                    <p class="text-uppercase my-3">Order History</p>
                    <table class="table table-sm">
                        <thead class="text-uppercase">
                          <tr>
                            <th scope="col" class="ps-0">Order No</th>
                            <th scope="col">Date</th>
                            <th scope="col">Items</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:8 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li>{{ item.product.name }} x{{ item.quantity }}</li>
                                            {% endfor %}
                                          </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/countryfield.js' %}"></script>
{% endblock %}