/* --------------------------------------------- Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-grey: #EAE9EC;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --font-noto-sans-kr: 'Noto Sans KR', sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-family: var(--font-noto-sans-kr);
    color: var(--color-black);
}

.border-black {
    border: 1px solid black !important;
}

.form-control {
    border: 0px !important;
}

#navigation-section {
    height: 100px;
    width: 100%;
    z-index: 1000;
}

#dropdownMenuButton1::after {
    color: var(--color-black);
}

#dropdownMenuButton1 {
    cursor: pointer;
}

#top-nav {
    z-index: 1050;
    background-color:var(--color-white);
}

#main-nav {
    background-color: var(--color-white);
    top: 75px;
}

#main-nav .nav-link:hover {
    text-decoration: 2px underline;
}
/* --------------------------------------------- Home */

#home-hero {
    background: url('/media/home-hero.jpg') no-repeat center;
    background-size: cover;
    height: 600px;
    margin-top: 80px;
    color: var(--color-white);
    letter-spacing: 2px;
}

/* --------------------------------------------- Toasts */
.message-container {
    position: fixed;
    z-index: 9999999999;
    top: 72px;
    right: 15px;
}

.custom-toast {
    overflow: visible;
}

/* --------------------------------------------- Products */
.dropdown-sort {
    border: 1px solid var(--color-black);
}

#dropdown-select {
    text-transform: uppercase;
    border: none;
    margin: 10px;
}

#products-main {
    padding-top: 100px;
}

.scroll-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
}

/* --------------------------------------------- Bag */
.update-link,
.remove-link {
    cursor: pointer;
}

/* --------------------------------------------- Media Queries */

@media (max-width: 992px) {
    #main-nav {
        background-color: var(--color-white);
        top: 0px;
    }

    #navbarScroll > ul > li {
        padding: 0px 15px 0px 15px;;
    }

    #products-main {
        padding-top: 0px;
    }

    #home-hero {
        margin-top: 0px;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 12px !important;
    }

    #filters-container a {
        padding: 10px;
        font-size: 12px;
    }
}