{% extends "base.html" %}
{% load static %}


{% block extra_title %}{{ blog.title }}{% endblock %}

{% block content %}

    <div class="container p-5">
        <div class="d-flex justify-content-center pb-5">
            <img src="{{ MEDIA_URL }}{{ blog.image }}" alt="{{ blog.title }}" class="img-fluid">
        </div>
        <h5 class="text-center pb-4 text-uppercase">{{ blog.title }}</h5>
        <p>{{ blog.content }}</p>
        <div class="pb-5">
            <p class="fst-italic">Posted by <strong>{{ blog.author }}</strong> on {{ blog.created_on }}</p>
        </div>
    </div>

{% endblock %}