{% extends "base.html" %}
{% load static %}

{% block extra_title %}{{ product.name }}{% endblock %}

{% block content %}
    <div id="products-main"></div>
    <div class="container-fluid" id="products-main-container">
        <div class="container">
            <div class="row mb-3">
                <!--Breadcrumbs-->
                <div class="col-sm-6 col-12">
                    <div class="breadcrumb" style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                        <a href="{% url 'home' %}" class="breadcrumb-item text-dark text-uppercase text-decoration-none">Home</a>
                        <a href="{% url 'products' %}" class="breadcrumb-item text-dark text-uppercase text-decoration-none">Shop</a>
                        <a href="#" class="breadcrumb-item active text-dark fw-bold text-uppercase text-decoration-none">category</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!--Product Details-->
            <div class="row">
                <div class="col-12 col-lg-6 pt-3">
                    <div class="card h-100 product-card border-0">
                        {% if product.image %}
                            <a href="{{ product.image.url }}"><img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"></a>
                        {% else %}
                            <a href=""><img src="{{ MEDIA_URL }}no_image.png" class="card-img-top"
                                alt="{{ product.name }}"></a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-lg-6 pt-3">
                    <p class="fs-6 card-text text-uppercase fw-bold">{{ product.name }}</p>
                    <div>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">${{ product.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}